:root {
    --body-background: #282a36;
    --secondary-background: #44475a5b;
    --outline-color: #f8f8f2;
    --highlight: #50fa7b;
    --font-color: #f8f8f2;
    --secondary-font-color: #000000;
    --bold: 700;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--font-color);
}

body {
    overflow: hidden;
    background-color: var(--body-background);
}

main {
    position: relative;

    height: 100vh;
}

#tile-grid {
    display: grid;
}

.tile {
    cursor: pointer;
}

.hidden {
    display: none;
}

#key-bindings {
    padding: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    pointer-events: none;
    background-color: var(--secondary-background);
}

#key-bindings .title {
    margin-bottom: 15px;
    padding-bottom: 3px;

    font-size: 18px;
    font-weight: var(--bold);
    border-bottom: 1px solid var(--outline-color);
}

.key-binding {
    text-align: left;
}

.key-binding span {
    margin-bottom: 15px;
    padding: 10px 18px;
    display: inline-block;

    border-radius: 4px;
    font-weight: var(--bold);
    color: var(--secondary-font-color);
    background-color: var(--highlight);
}
